<app-side-bar></app-side-bar>
<div class="p-4 sm:ml-64">
  <div class="flex justify-start items-center">
    <a href="/courses/" class="xl:text-xl mb-3 transition-all hover:text-blue-500  ">Cводка по курсам</a>
  </div>
  <div class="bg-blue-500" style="height: 1px">
  </div>

  <div class="p-4 rounded-lg dark:border-gray-700">

    <div class="grid gap-6 xl:grid-cols-3 ">

      <div  *ngFor="let course of courses; let i = index">
        <a href="/course/{{course.course_id}}" >
          <div class="border-2 w-full rounded-md h-56 hover:w-full  transition-all duration-300 hover:scale-95 ">
            <div class="flex justify-center h-40 items-center">
              <img src="{{course.image}}" alt="" class="w-80 h-40 rounded-lg p-3 object-contain"   >
            </div>
            <div class="bg-gray-100 h-1/4 py-8 items-center rounded-b-md w-full flex justify-center">
              <div class="font-bold text-2xl  transition-all duration-300 hover:text-blue-500" >
                {{ course.title }}
              </div>
            </div>
          </div>
        </a>
      </div>


    </div>

  </div>


</div>
